

.login(ng-controller="SimpleFormController")

    form(novalidate)

        .title Login

        .item-form
            input.elem-form(
                ng-model='user.name',
                type='text',
                placeholder='Name',
                autofocus,
                required,
                tooltip="On the Left!")

        .item-form
            input.elem-form(
                ng-model='user.email',
                type='email',
                placeholder='Email',
                required)

        .item-form
            textarea.elem-form(
                ng-model='user.text',
                placeholder='text')

        button.button-primary(ng-click='reset(user)')
            | Reset



        button.button-primary(
            ng-click='update()',
            type='submit')
            | Save

        hr

        .title JSON

        pre user   = "{{user | json}}"
        pre master = "{{master | json}}"

